body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 15px;
}

.container {
    display: flex;       /* Kích hoạt flexbox */
    margin: 10px;
    gap: 10px;           /* khoảng cách giữa các cột */
}

.left-sidebar {
    flex: 1;             /* Sidebar trái chiếm 1 phần */
    padding: 10px;
}

.main-content {
    flex: 2;             /* Nội dung chính rộng hơn (2 phần) */
    background: #fff;
    padding: 10px;
    border-left: green 3px solid;
}

.right-sidebar {
    flex: 1;             /* Sidebar phải chiếm 1 phần */
    padding: 10px;
}

footer {
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}
